@page
@model IndexModel
@{
 ViewData["Title"] = "ระบบรายงานข่าว";
}

<script src="https://cdn.jsdelivr.net/gh/openlayers/open
layers.github.io@master/en/v6.2.1/build/ol.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

<div class="jumbotron">
<center><h2>ระบบรายงานข่าวโดยประชาชนเพื่อประชาชน</h2><center>
</div>

<div class="row">
<div id="mapid" style="height: 400px;"></div>

<script>
 var mymap = L.map('mapid').setView([6.99, 100.48], 5);
 L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(mymap); 
 @foreach(var item in Model.News){
 <text>
	 L.marker([@item.GpsLat, @item.GpsLng]).addTo(mymap).bindPopup 
	
	 ("@item.NewsDetail<br>Status-@item.NewsStatus");
 </text>
 }
</script>
</div>


@foreach (var item in Model.NewsCategory){
 <div class="row">
	<h3>@Html.DisplayFor(model=>item.ShortName)</h3>
	<h4>@Html.DisplayFor(model=>item.FullName)</h4>
 </div>
 <div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>วันที่เกิดเหตุ</th><th>เน้ือข่าว</th><th>สถานะการยืนยัน</th>
			</tr>
		</thead>
	 <tbody>
	@foreach (var newsItem in Model.News) {
		if(newsItem.NewsCategoryID == item.NewsCategoryID){
		<tr>
		<td>
			@Html.DisplayFor(modelItem => newsItem.ReportDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => newsItem.NewsDetail)
		</td>
		<td>
			@Html.DisplayFor(modelItem => newsItem.NewsStatus)
		</td>
		</tr>
}
 }
 </tbody>
 </table>
 </div>
}
