@page
@model NewsReport.Pages.NewsAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>รายงานข่าวใหม่</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">
                เลือกหัวข้อข่าว
                <select asp-for="News.NewsCategoryID" class ="form-control" asp-items="ViewBag.NewsCategoryID"></select>
                <span asp-validation-for="News.NewsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่เกิดเหตุ
                <input asp-for="News.ReportDate" class="form-control" />
                <span asp-validation-for="News.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียดข่าว
                <textarea asp-for="News.NewsDetail" class="form-control" />
		</textarea>
                <span asp-validation-for="News.NewsDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ละติจูดจุดเกิดเหต
                <input asp-for="News.GpsLat" class="form-control" />
                <span asp-validation-for="News.GpsLat" class="text-danger"></span>
            </div>
            <div class="form-group">
               ลองติจูดจุดเกิดเหตุุ
                <input asp-for="News.GpsLng" class="form-control" />
                <span asp-validation-for="News.GpsLng" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานะของข่าวุ
		<select asp-for="News.NewsStatus" class="form-control" >
			<option value="Unverified">Unverified</option>
			<option value="Verified as Real">Verified as Real</option>
			<option value="Verified as Fake">Verified as Fake</option>
		</select>
                <span asp-validation-for="News.NewsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
