﻿@page
@model LearnC.Pages.LearnAdmin.CreateModel

@{
    ViewData["Title"] = "หีวข้อใหม่";
}

<h2>หัวข้อใหม่</h2>

<h4>กรอกจ้อมูลต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
		    เรื่อง
                <input asp-for="Learn.ShortName" class="form-control" />
                <span asp-validation-for="Learn.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
		   คำอธิบาย
                <input asp-for="Learn.FullName" class="form-control" />
                <span asp-validation-for="Learn.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
