﻿@page
@model LearnC.Pages.LearnAdmin.DetailsModel

@{
    ViewData["Title"] = "หัวข้อเรื่อง";
}

<h2>หัวข้อเรื่อง</h2>

<div>
    <h4>รายละเอียด</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            เรื่อง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Learn.ShortName)
        </dd>
        <dt>
           คำอธิบาย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Learn.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Learn.LearnID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
