﻿@page
@model LearnC.Pages.LearnAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h2>แก้ไขข้อมูล</h2>

<h4>กรอกข้อมูลต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Learn.LearnID" />
            <div class="form-group">
                เรื่อง
                <input asp-for="Learn.ShortName" class="form-control" />
                <span asp-validation-for="Learn.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
               คำอธิบาย
                <input asp-for="Learn.FullName" class="form-control" />
                <span asp-validation-for="Learn.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
