﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ภาษาคอมพิวเตอร์";
}
<div class="jumbotron">
	<center><h2>เรียนรู้ภาษาคอมพิวเตอร์</h2><center>
</div>

@foreach (var item in Model.Learn){
<div class="row">
	<h3>@Html.DisplayFor(model=>item.ShortName)</h3>
	<h4>@Html.DisplayFor(model=>item.FullName)</h4>
</div>
<div class="row">
	<table class="table">
	<thead>
	<tr>
	<th>บทที่ </th> <th>เรื่อง</th> <th>วันที่อัพเดท</th>
 </tr>
 </thead>
 <tbody>
 @foreach (var newsItem in Model.News) {
	if(newsItem.LearnID == item.LearnID){
		<tr>
		
		<td>
		@Html.DisplayFor(modelItem =>newsItem.NewsDetail)
		</td>

		<td>
		@if(newsItem.LearnID == 1){
		@if(newsItem.NewsDetail == "บทที่ 1"){
			<a href="https://drive.google.com/open?id=1bGHIfNPAQszBdtaaaJLPGRIHxZkc1526">แนะนำภาษาซี</a>
		} 
		@if(newsItem.NewsDetail == "บทที่ 2"){
			<a href="https://drive.google.com/open?id=1BRRe2r0_7dxC3Dd-GgUN1iGktx9t9WoH">องค์ประกอบภาษาซี</a>
		}
		@if(newsItem.NewsDetail == "บทที่ 3"){
			<a href="https://drive.google.com/open?id=1LoWxSWV2t8WOpG6BLN8KLec9MWgoSAJF">ข้อมูลเข้าและผลลัพธ์</a>
		}
		@if(newsItem.NewsDetail == "บทที่ 4"){
			<a href="https://drive.google.com/open?id=1vKRVGjKvNotU_JRSWVTtsUY5ICJlyPIq">ตัวดำเนินการและนิพจน์</a>
		}
		@if(newsItem.NewsDetail == "บทที่ 5"){
			<a href="https://drive.google.com/open?id=1N7l3uQlQpNGGNE9ThSchOTTXLfQZ_bOH">คำสั่งควบคุม</a>
		}
		}
		</td>

		<td>
		@Html.DisplayFor(modelItem =>newsItem.ReportDate)
		</td>

		</tr>	
	}
}
</tbody>
</table>
</div>
}